/*------------ Fonts -------------*/

/*----- Full Body ------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*------- Footer ------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/*------------ Common Styles ------------*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    cursor: auto;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr {
    border: 1px solid lightgray;
    width: 70%;
    margin-top: 20px;
}


/*--------------- Header -------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    margin-left: 20px;
}
.nav-phone-tab {
    visibility: hidden;
}

/*------------ Top ------------*/
.top-container {
    display: flex;
    align-items: center;
    width: 100%;
}
.top-text , .top-banner {
    width: 100%;
}
.top-text {
    padding: 40px 80px;
}
.headline {
    color: #00001b;
    font-size: 3em;
}
.color-dodgerblue {
    color: dodgerblue;
}
.button-box {
    margin: 50px 0px;
}
.button {
    text-decoration: none;
    color: white;
    background-color: crimson;
    padding: 10px 15px;
    border-radius: 20px;
}
.top-banner {
    position: relative;
}
.top-banner img {
    width: 75%;
    padding-top: 50px;
    padding-left: 90px;
}
.top-banner:hover img {
    transform: rotate(360deg);
    transition: transform 3s linear;
}


/*------------ Popular Collection ------------*/
.popular-collection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px 0px 50px 0px; 
}
.products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.product {
    border-radius: 10px;
    padding: 24px;
    box-shadow: 3px 3px 5px lightgray;
    display: flex;
    flex-direction: column;
}
.product-name {
    margin-bottom: 0;
}
.product-name , .price {
    font-size: 1.5em;
}
.price , .rating{
    margin: 0;
}
.fa-solid.filled {
    color: gold;
}
.fa-solid.empty{
    color: lightgray;
}
.color-gray {
    color: gray;
}
.popular-collection > p {
    position: relative;
    left: 45%;
    top: 30px;
}
.button-reverse {
    text-decoration: none;
    color: crimson;
}
.button-reverse:hover {
    text-decoration: underline;
}

/*------------ Best Stop ------------*/
.best-stop {
    margin: 50px 0px;
}
.services {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0px 80px;
}
.service {
    width: 200px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
.service:hover {
    text-decoration: underline;
}
.service a {
    text-decoration: none;
    color: crimson;
}
.fa-solid.icon {
    color: crimson;
    font-size: 2em;
    margin-right: 10px;
}


/*------------ Footer ------------*/
footer {
    width: 100%;
    height: 200px;
    color: white;
    background-color: #00001b;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
}
footer a {
    text-decoration: none;
    color: white;
}
.fa-brands.logo {
    font-size: 1.5em;
    margin-left: 10px;
}


/*-------------------- Media Queries --------------------*/

/*----- SmartPhone ------*/
@media only screen and (max-width:688px) {
    /* Header */
    header {
        margin-bottom: 20px;
    }
    nav {
        padding: 20px;
    }
    nav a {
        margin-left: 10px;
    }
    .nav-pc {
        display: none;
    }
    .nav-phone-tab {
        visibility: visible;
    }


    /* Top */
    .top-container {
        flex-direction: column;
    }
    .top-text {
        text-align: center;
        padding: 10px;
    }
    .headline {
        font-size: 1.5em;
    }
    .top-banner img {
        width: 100%;
        padding: 0;
    }


    /* Popular */
    .products {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px 0px;
    }


    /* Best-Stop */
    .services {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    
}


/* Tablet */
@media only screen and (min-width:689px) and (max-width:992px){
    .nav-pc {
        display: none;
    }
    /* Header */
    .nav-phone-tab {
        visibility: visible;
    }

    /* Top */
    .top-container {
        flex-direction: column;
        width: 80%;
    }
    .top-text {
        text-align: center;
        /* padding: 10px; */
    }
    .headline {
        font-size: 2.2em;
    }


    /* Popular */
    .popular-collection {
        width: 100%;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .button-reverse {
        position: relative;
        left: 0;
        top: 0;
    }

    /* Best-Stop */
    .services {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px 40px;
    }

}
